.sidebar{
    width: 100%;
	display: inline-table;
	margin-bottom: 20px;
	margin-right: 25px;

	@media only screen and (min-width: 1200px) {
        max-width: 265px;
        flex: 1 0 265px;
	}

	.sidebar-heading{
		padding:20px;
		border:1px solid #dddddd;
		border-bottom: 0;
		background-color: #fff;
	}
	.sidebar-body{
		border:1px solid #dddddd;
		border-top: 0;
		background-color: #fff;
		ul{
			list-style: none;

			li{
				a{
                    padding: 1.1rem 1.5rem;
                    display: flex;
                    align-items: center;
					border-left: 0.5rem solid transparent;
					background-color: #fff;
					color:#333;

					&.active, &.nuxt-link-exact-active{
					 	background-color:#F2F2F2;
                        border-left: 0.5rem solid #FF9500;
                        color: #FF9500;
					}

					&:any-link:hover{
					 	background-color:#F2F2F2;
                        border-left: 0.5rem solid #FF9500;
                        color: #FF9500;
					}

					.icon-item{
						float: left;
					    margin-right: 5px;
					    width: 30px;
					    text-align: center;
					}

					.badge {
                        margin-left: auto;
                    }
				}
			}
		}
	}
}

.sidebar-banner {
    margin-top: 16px;
    
	img {
		display: block;
		width: 100%;
	}
}