.profile-input {
  background: var(--base-color-dark-transparent, rgba(47, 50, 65, 0.5));
  @apply h-[48px] p-[20px] pr-[8rem] rounded-lg;
}
.wallet-card {
  background: var(--base-color-dark-transparent, rgba(47, 50, 65, 0.5));
  border: none;
}
.point_line {
  filter: blur(220px);
  @apply bg-[#f90] w-[480px] h-[467px];
}
